:root {
    --primare-color: #333 ;
    --secundary-color: #f4f4f4;
    --backgraund-color: #4f6475;
    --text: #000;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secundary-color);
    line-height: 1.5;
    border-radius: 8px;
    padding: 0.5rem;
    
}

.header {
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.span {
    color: brown;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: var(--text);
    
}
h3 {
    color: var(--primare-color);
    
}

p, li {
    color: var(--text)
}

.container {
    display: grid;
    /* gap: 8px; */
    max-width: 1200px;

}

.footer {
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    
}